<section>

    <p>
        Nørrebrogade 161 <br>
        2200 København 
    </p>

</section>


<style>

p {
    font-family: "Karla", sans-serif;
    color: #920000;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    z-index: 15;
    margin-top: -70px;
    margin-left: 350px;
}


@media (min-width: 750px) {

    p {

        font-size: 20px;
    z-index: 15;
    margin-top: -90px;
    margin-left: 1250px;

    }
}


</style>