<section>
<div class="om_os">
<img src="/GRUMS/img/udenfor_rod.webp" alt="udenfor">

<div class="om_os_tekst">
<h3>kender du ikke grums?</h3>

<p>
    Grums er en hyggelig café og bar på Nørrebro, hvor vi har budt gæster velkommen i fem år. Om dagen serverer vi kaffe, og om aftenen byder vi på vin og cocktails. <br>
<br>
Hos Grums er der plads til alle, og vi sætter mangfoldighed i fokus – dit hyggelige sted på gaden.
</p>
</div>
</div>

</section>


<style>

h3{
        font-family: 'Kepler Std', sans-serif;
        font-style: italic; 
        font-weight: 400;
        text-align: center;
        font-size: 30px;
        color: #920000;
    }

    p{
        font-family: "Karla", sans-serif;
        font-size: 14px;
        max-width: 35ch;
        text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100px;           
    margin: 0 auto; 
    padding-top: 20px;
    }

    img {
        transform: scale(0.9);
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
    margin-top: -150px;
    }


    @media (min-width: 750px) {
        .om_os {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

h3 {
    font-size: 50px;
    padding-bottom: 20px;
    margin-left: -20px;
}

p{
    font-size: 20px;
}

.om_os_tekst{
    margin-left: -200px;
}


    }

</style>